.property {
  margin: 0 0 .5rem;
}

.property > label,
.property > input {
  font-size: 1.25rem;
  display: inline-block;
  width: 49.375%;
  vertical-align: baseline;
}

.property > label {
  color: #fffbfe;
  text-align: right;
  float: left;
  padding: .375rem 0;
}

.property > input {
  color: #ff92c2;
  background: transparent;
  border: none;
  font-family: monospace;
  float: right;
  padding: .375rem;
}

.property > input:focus {
  outline: .125rem solid #ff92c2;
}
