.home > h1,
.home > h2 {
  line-height: 1.309;
  text-align: center;
  text-transform: lowercase;
  color: #fffbfe;
}

.home > h1 {
  font-size: 4rem;
}

.home > h2 {
  font-size: 2.3344291533rem;
  margin: 0 0 1rem;
}
