.paintlet {
  border-radius: .25rem;
}

.properties {
  padding: 1rem 0;
}

.preview {
  height: 320px;
  background-color: #fffbfe;
  border-radius: .5rem .5rem 0 0;
}

.info {
  padding: .5rem;
  background: #333232;
  border-radius: 0 0 .5rem .5rem;
}

.info > h3 {
  text-align: center;
  color: #fffbfe;
  font-weight: bold;
  font-size: 1.5279282363rem;
}
