.properties {
  padding: var(--size-6) 0 0;
  display: grid;
  grid-template-columns: max-content auto;
  grid-gap: var(--size-4);
  align-items: baseline;
  max-width: 35.5rem;
  width: 100%;
  margin: 0 auto;

  & > label,
  & > input {
    font-size: var(--size-7);
    line-height: 1.309;
    display: block;
  }

  & > label {
    color: var(--white);
    cursor: pointer;
  }

  & > input {
    background: transparent;
    border: none;
    padding: var(--size-2) var(--size-2) var(--size-0);
    border-bottom: var(--size-0) solid var(--light-grey);
    width: 100%;
    color: var(--light-grey);
  }

  & > input:focus {
    outline: var(--size-0) solid var(--accent);
    color: var(--accent);
    border-bottom-color: var(--accent);
  }
}
