.paintlet {
  padding: 0 0 var(--size-6);

  & > h3 {
    border-radius: var(--size-3) var(--size-3) 0 0;
    padding: var(--size-4);
    background: var(--dark-grey);
    color: var(--white);
    font-weight: bold;
    font-size: var(--size-6);
    box-shadow: 0 0 var(--size-1) var(--dark-grey);
    text-align: center;

    & > a {
      &:hover {
        color: var(--accent);
      }
    }
  }
}

.preview {
  height: 256px;
  height: 42.2314872894vh;
  background-color: var(--white);
  border-radius: 0 0 var(--size-3) var(--size-3);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  contain: strict;
  border-color: var(--dark-grey);
  border-width: 0 var(--size-0) var(--size-0);
  border-style: solid;

  &.state-no-support {
    .message-no-support {
      display: block;
    }
  }

  &.state-loading {
    .message-loading {
      display: block;
    }
  }

  &.state-error {
    .message-error {
      display: block;
    }
  }

  &.state-no-support,
  &.state-loading,
  &.state-error {
    justify-content: center;

    .controls {
      display: none;
    }
  }
}

.message-no-support,
.message-loading,
.message-error {
  display: none;
  font-size: var(--size-7);
  text-align: center;
  color: var(--black);
  font-weight: bold;
}

.controls {
  padding: var(--size-3);
  background: var(--dark-grey);
  border-radius: var(--size-3) var(--size-3) 0 0;

  & > label,
  & > input {
    line-height: 1.309;
    font-size: var(--size-6);
    color: var(--white);
  }

  & > input {
    background: transparent;
    border: none;
    padding: var(--size-2) var(--size-2) var(--size-0);
    border-bottom: var(--size-0) solid var(--light-grey);
    width: 100%;
    max-width: 10rem;
    color: var(--light-grey);
    margin: 0 0 0 var(--size-1);
    text-align: center;

    &:focus {
      color: var(--accent);
      border-bottom-color: var(--accent);
      outline: var(--size-0) solid var(--accent);
    }
  }
}

.properties {
  & > input {
    & + label {
      margin-top: var(--size-5);
    }
  }
}
