@media screen and (min-width: 44rem) {
  .paintlet-list {
    list-style: none;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 88rem) {
  .paintlet-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
